body {
	background-color: #ffffff;
	margin: 0 15%;
	font-family: sans-serif;
}
header > hgroup > h1 {
	text-align: center;
	font-family: serif;
	font-weight: normal;
	text-transform: uppercase;
	border-bottom: 1px solid #57b1dc;
	margin-top: 30px;
}

header > hgroup >  h2 {
	text-align: center;
	color: #3CB7BF;
	font-size: 1em;
}
footer >  p {
	margin-top: 25px;
	text-align: center;
}
footer  {
	margin-top: 25px;
}

figure > figcaption {
	text-align: center;
}

header > img, figure > img {
	display: block;
    margin-left: auto;
    margin-right: auto;
}

section > article > header > h3{
	border-bottom: 0.3px dotted #80d3fc;
}

section > article {
	width: 50%;
	display: block;
    margin-left: auto;
    margin-right: auto;
	padding-top: 15px;
}

section > article > iframe {
	display: block;
    margin-left: auto;
    margin-right: auto;
}

nav{

    background-image: linear-gradient(top, #FFF, #CCC);/*El estandar por defecto*/
    overflow:hidden;
    padding:10px;
    width:950px;
}



:required {
  border-color: #88a;
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 255, .5);
  -moz-box-shadow: 0 0 5px rgba(0, 0, 255, .5);
  -o-box-shadow: 0 0 5px rgba(0, 0, 255, .5);
  -ms-box-shadow: 0 0 5px rgba(0, 0, 255, .5);
  box-shadow: 0 0 5px rgba(0, 0, 255, .5);
}

form {

  margin: 20px auto;
}

input {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  border:1px solid #ccc;
  font-size:20px;
  width:300px;
  min-height:30px;
  display:block;
  margin-bottom:15px;
  margin-top:5px;
  outline: none;

  -webkit-border-radius:5px;
  -moz-border-radius:5px;
  -o-border-radius:5px;
  -ms-border-radius:5px;
  border-radius:5px;
}

input[type=submit] {
  background:none;
  padding:10px;
}